$primary-color: #2B50AA;
$secondary-color: #C05746;
$text-color: #333333;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$my-background-color: rgba($color: #e5700ba4, $alpha: 0.5);

// @function set-text-color($color) {
//     @if(lightness($color) > 10) {
//         @return #000;
//     }
//     @else {
//         @return #fff;
//     }
//   }